In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats 
#The following imports are my own implementations of the Classification algorithms using Python and Numpy
from MLAlgorithms.Supervised.Classification.knnclassifier import *
from MLAlgorithms.Supervised.Classification.logisticregression import *

ModuleNotFoundError: No module named 'MLAlgorithms'

The data set of this project was downloaded from Kaggle website https://www.kaggle.com/competitions/titanic

### Titanic Disaster

### Description of the Data set:

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered ‚Äúunsinkable‚Äù RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren‚Äôt enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others

Here is a description of the columns of the data set.
Survival column is  our response variable where 0 indicates that the passenger did not survive the accident and 1 means the passenger survived  it.

Let us read the data set using Pandas

In [ ]:
titanic = pd.read_csv('titanic/train.csv')
response = titanic['Survived']

We can view the head of the data to see what the data attributes look like.

In [ ]:
titanic.head()

Let find out more about the data set

In [ ]:
titanic.info()

There are some missing values in the data set, we can find how the number of the missing value.

In [ ]:
titanic.isnull().sum()

Most of the missing values are in the Cabin column and Age column, and we have 2 missing values in Embarked. We can apply feature engineering to the categorical variables in the data. Drop columns that do not contribute to the survival rate of those on board

In [ ]:
dropped_cols = ['PassengerId', 'Name', 'Ticket', 'Cabin']

In [ ]:
titanic.drop(dropped_cols, axis=1, inplace=True)

In [ ]:
titanic.head()

From the data info we can see that we only have some nan values in the Age column, we can handle the Nan values first. We can fill the missing age with the average age of the Age. It seems reasonable to fill the Age with the average of the people on board. We found tha average of the people on board is about 30 years.

In [ ]:
av_age = titanic.Age.mean()
av_age

In [ ]:
titanic['Age']  = titanic['Age'].fillna(int(np.round(av_age)))

There are some null  values in Embarked, we will replace  it with the max of the Embarked. We see that majority of the passengers comes from Southampton, so we fill the 2 missing values with S for Southampton.

In [ ]:
titanic.groupby('Embarked').count()

In [ ]:
titanic['Embarked']  = titanic['Embarked'].fillna('S')

In [ ]:
titanic.info()

There is no longer any missing value in the data set we will be working with.

In [ ]:
titanic.describe()

In [ ]:
titanic.groupby('Sex').count()

It seems that the values of both Age and Fare deviate way too much from the rest of the data, so scaling will be useful. Let us first apply the above feature engineering to our test data.

### Define hypothesis (Null and Alternative)

The next step is to define the hypothesis to be tested. Hypothesis is defined in two ways - null hypothesis and alternative hypothesis. Null hypothesis is a statistical hypothesis which assumes that the difference in observations is due to a random factor. It is denoted by Ho. Alternative hypothesis is the opposite of null hypothesis. It assumes that the difference in observations is the result of a real effect. The alternate hypothesis is denoted by H1..

### First Hypothesis

$ ùêª_{0}: $ There is no difference between the survival of male and female.\
$ ùêª_{A}: $ There is a difference between the survival of male and the female.

### Second Hypothesis

$ ùêª_{0}: $ There survival depends on the age of the passenger.\
$ ùêª_{A}: $ There is no relationship between the survival and age of those on board.

### Third Hypothesis

$ ùêª_{0}: $ The survival depends on the socio-economic status of the passengers. First class passengers survived more than second and third class.\
$ ùêª_{A}: $ There is no relationship between the survival and socio-economic status of those on board.

In [ ]:
female=titanic.loc[titanic.Sex=="female"]
male=titanic.loc[titanic.Sex=="male"]

Let us Test the first hypothesis

In [ ]:
survived_female = female.Survived
survived_male = male.Survived

In [ ]:
survived_group = titanic[titanic['Survived'] == 1]
sns.displot(survived_group.Sex,color='green')
plt.title('Survival of Female vs Male');

From the graph, we already see that the female actually survived more than male.

In [ ]:
print('Female', survived_female.mean())
print('Male', survived_male.mean())

This means about 74% of female on board survived the incident while a handful of 19% of male survived.

### Formal Significance Test 

Next, we will obtain our statistics, t-value and p-value. We will use `scipy.stats` library and `ttest_ind()` function to calculate these parameters.
We will Conduct a formal significance test for our first hypotheses and discuss the results

In [ ]:
alpha=0.05
t_value, p_value = stats.ttest_ind(survived_female, survived_male)
print("t_value = ",t_value, ", p_value = ", p_value)

In [ ]:
if p_value <alpha:
    print("Conclusion: since p_value {} is less than alpha {} ". format (p_value,alpha))
    print("Reject the null hypothesis that there is no difference between the survival of females and survival of males.")
    
else:
    print("Conclusion: since p_value {} is greater than alpha {} ". format (p_value,alpha))
    print("Fail to reject the null hypothesis that there is a difference between the survival of females and survival of males.")

### Suggestions for next steps in analyzing this data

We do not have the full list of the data set, some data set was reserved so need to test our data more when we have additional data on Titanic.

### Summary

As only worked on a subset of Titanic data, we need more data to infer more quality insights.

We will now further clean the data for machine learning.

In [ ]:
titanic.head()

In [ ]:
embarked_cat = titanic['Embarked'].unique().tolist()
embarked_cat

In [ ]:
parch_cat = titanic['Parch'].unique().tolist()
parch_cat

In [ ]:
sibsp_cat = titanic['SibSp'].unique().tolist()
sibsp_cat

In [ ]:
pclass_cat = titanic['Pclass'].unique().tolist()
pclass_cat

In [ ]:
sex_cat = titanic['Sex'].unique().tolist()
sex_cat

In [ ]:
titanic['Sex'] = titanic['Sex'].apply(lambda x: 0 if x=='female' else 1)

In [ ]:
vars = ['Pclass', 'Parch', 'SibSp', 'Embarked']
titanic = pd.get_dummies(data=titanic, columns=vars, dtype=int)
titanic.head()

In [ ]:
cor = titanic.corr().fillna(0)
cor

In [ ]:
features = cor['Survived'].sort_values()
features

In [ ]:
features.plot(kind='bar',figsize=(8,8))
plt.title('The correlation of the features');

In [ ]:
plt.figure(figsize=(8,8))
sns.heatmap(cor,annot=False,cmap='RdYlGn')

In [ ]:
titanic.drop('Survived', axis=1, inplace=True)

In [ ]:
titanic.head()

In [ ]:
y = np.array(response)

In [ ]:
X_train = titanic.iloc[:600, :]
X_test = titanic.iloc[600:, :]
y_train = y[:600]
y_true = y[600:]
model = KNNClassifier(X_train, y_train, K=3)
#CV_n = model.loocv() #Apply Leave-Out-One Cross-Validation
#CV_n
predictions = model.predict(X_test)
#predictions, y_test = model.slice_cv(600)

In [ ]:
model.accuracy(y_true)

In [ ]:
count, values = model.error_count(y_true)
count

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
knn_predictions = knn.predict(X_test)
knn_predictions
accuracy = (len(np.where(knn_predictions == y_true)[0]) / len(y_true))*100
print(accuracy)
error_count = len(np.where(knn_predictions != y_true)[0])
error_count